# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr